# Diff with JetBrains Rider
[diff]
    tool = rider
[difftool]
    prompt = false
[difftool "rider"]
    cmd = rider diff "$LOCAL" "$REMOTE"

# Merge with JetBrains Rider
[merge]
    tool = rider
[mergetool]
    prompt = false
[mergetool "rider"]
    cmd = rider merge $LOCAL $REMOTE $BASE $MERGED
    trustExitCode = true

[user]
	name = Jonathan Channon
	email = jonathan.channon@gmail.com
[core]
	editor = code --wait
[help]
	autocorrect = -1
[pull]
	rebase = true
